*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Calculator;
	src: url(fonts/Calculator.ttf);
}

body{
	background-color: #000000;
}

h1{
	color: #0096D6;
    text-align: center;
    font-family: Calculator;
	font-size: 70px;
	font-weight: bold;
    margin: 30px;
	text-shadow: 0 1px 1px #fff, 0 -1px #fff, 1px 0 1px #fff, 0 -1px 1px #fff;
}

#container-calculator{
	position: relative;
	left: 510px;
	top: 40px;
	background-color: #0096D6;
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding: 10px;
	width: 240px;
	box-shadow: 0px 1px 5px #ffffff;
}

img{
	position: relative;
	left: 100px;
	width: 40px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

#display-result{
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid #ffffff;
	height: 30px;
	border-radius: 10px;
	background-color: rgb(8, 8, 8);
	padding: 15px;
	font-size: 20px;
}

.fila li{
	display: inline-block;
}

.fila li button{
	margin: 2px;
	cursor: pointer;
	text-align: center;
	border-radius: 50%;
}

.botoes{
	width: 50px;
	height: 50px;
	border: 1px solid #00608a;
	font-weight: bold;
	font-size: 15px;
	transition: 300ms;
	font-family: Verdana;
}

.botoes:hover{
	box-shadow: 0px 3px 8px #000;
    background-color: #0096D6;
	color: #fff;
	border: 1px solid #fff;
}

#clean{
    width: 110px;
    height: 40px;
    border-radius: 40px;
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #000;
}

#equal{
    width: 110px;
    height: 40px;
    border-radius: 40px;
    background-color: #027a1c;
    color: #fff;
    border: 1px solid #000;
}